body {
	background-color: #ffe4c4;
}

a {
	font-size: 125%;
	text-decoration: none;
}

/*Для описания товаров*/
h2,
h3 {
 font-weight: 400;
 background-color: #D2691E;
 border: 2px solid #800000;
 text-align: center;
}

.product-name {
	color: #707070;
	font-size: 16px;
	font-style: italic;
	line-height: 18px;
}

.description {
 color: #484343;
 font-size: 18px;
 font-weight: 400;
 line-height: 24px;
 text-align: left;
}

.specifications {
	list-style-type: none;
}

.specifications li:before {
	color: #032149;
	font-size: 140%;
	font-family: verdana;
	content: "♦";
}

.additional-characteristics {
	border: 3px solid #800000;
	height: 60px;
	border-collapse: collapse;
}
.additional-characteristics td {
	border: 2px solid #800000;
	height: 60px;
	width: 200px;
	text-align: center;
	color: #00008B;
}

.product-name:first-letter {
	font-size: 25px;
	color: red;
}
.description:first-letter {
	font-size: 25px;
	color: red;
}

/*Кнопка покупки*/
.buy {
	font-size: 80%;
}
.buy:hover {
	color: orange;
}
.buy:active {
	color: green;
	outline: 2px solid green;
}

/*Контакты*/
.text {
	text-transform: capitalize;
}
input {
	width: 20%;
	height: 20%;
	line-height: 90%;
	color: #000000;
	font-family: verdana;
}
.reset {
	width: 8%;
}

textarea {
	line-height: 90%;
	color: #000;
	font-family: verdana;
}

.email {
	color: #FF4500;
}
.email:focus {
	background-color: #BC8F8F;
}
/*Шапка на главной*/
.logo {
	float: left;
}
.logo img {
	outline: none;
	margin: 20px 0px 0px 10px;
}
.name {
	text-align: center;
	text-shadow: black 0 0 4px;
	color: #BC8F8F;
	font-size: 210%;
	font-family: "comic sans ms";
	float: left;
	margin: 20px 0px 0px 20px;
}

.header {
	text-align: center;
	background-image: url(img/fon.jpg);
	border: 5px solid #800000;
	height: 200px;
}

/*Для навигации по сайту*/
.nav > li > a {
	color: #000080;
	text-shadow: #BC8F8F 0 0 4px;
	font-size: 1.4em;
	font-family: fantasy;
	padding-left: 5px;
	padding-right: 5px;
}

.nav {
 list-style-type: none;
 text-align: right;
}
.nav li {
	display: inline-block;
}
.nav li a:hover {
	color: #FFA500;
/*	Кто подскажет, как убрать "танцы" при наведении? font-size: 1.6em;*/
}
/*Перелистывание страниц каталога*/
.page
/*Container для задания*/
.container {
	margin: 0 auto
	width: 100px;
	/*height: 10px;
	border: 3px solid #800000;*/
	/*Раскомментируйте код выше, если хотите увидеть его*/
}

/*Основной контент*/
h1 {
	text-align: center;
	font-size: 135%;
	font-family: "comic sans ms"
}
.adres {
	font-family: fantasy;
	font-size: 200%;
}

p {
	text-align: center;
}

.main-page {
	text-align: center;
	font-family: verdana;
	font-size: 22px;
}

img {
	outline: 4px solid #800000;
}

.product-picture a img:hover {
	outline: none;
}
.product-picture {
	float: left;
	margin-right: 10px;
	margin-bottom: 100px;
}

/*Ссылки каталога*/
.link a:active {
	color: #00FF00;
}

.link {
	float: left;
	margin: 10px;
	overflow: hidden;
}

/*Горизонтальная черта*/
.hr {
	clear: both;
}

/*Подвал сайта*/
.footer {
	height: 60px;
	text-align: right;
	font-size: 90%;
	font-family: verdana;
	background-color: rgb(251, 219, 101);
	padding: 20px 40px 0px 0px;
	clear: both;
}
